.b-illustration{
    position:relative;
    width:100%;
    height: 179px;
    background-repeat:no-repeat;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
    		border-radius: 3px;
/*  -webkit-transition-property:background-image;
	-webkit-transition-duration:3s;
	-webkit-transition-timing-function:ease-in; */	
}
.b-illustration__front,
.b-illustration__behind {
    position: absolute;
    right: 0;
    top:0; 
    height: 100%;
    width: 100%;    
	-webkit-transition:opacity 3s ease-in;
	   -moz-transition:opacity 3s ease-in;
		-ms-transition:opacity 3s ease-in;
		 -o-transition:opacity 3s ease-in;
			transition:opacity 3s ease-in;
	opacity:1;
    filter: alpha(opacity=100);
}
.b-illustration__front { 
    z-index:1;
}
.b-illustration__behind {
   	z-index:0;
}
.b-illustration_show_yandex{
    background: url(b-illustration_type_yandex.jpg);
}
.b-illustration_show_sladko{
    background: url(b-illustration_type_sladko.jpg);
}
.b-illustration_show_benergy{
    background: url(b-illustration_type_benergy.jpg);
}
.b-illustration_show_borjomi{
    background: url(b-illustration_type_borjomi.jpg);
}
.b-illustration_show_ozon{
    background: url(b-illustration_type_ozon.jpg);
}
.b-illustration_show_slpk{
    background: url(b-illustration_type_slpk.jpg);
}
	
	.b-illustration__link{	
	    opacity:0;
	    filter: alpha(opacity=0);
	    position: absolute;
	    z-index:3; 
		right:0;
	    top:0;
	    -webkit-box-sizing:border-box;
		   -moz-box-sizing:border-box;
				box-sizing:border-box;
	    width: 330px;
	    padding-left:130px;
	    line-height:179px;
	    text-align:center;		
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUoAAAABCAQAAAASyC+VAAAAM0lEQVR42mP8z8TACIVMaCQCw0hUFjpkxsJmxkPi5uPShd0OTIjuWkYMDCMRPh8FgwYAAKU9AgCakw4OAAAAAElFTkSuQmCC) 100% 0 ;
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%); 
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,1))); 
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%); 
		background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%);
		background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%);
		background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%); 			
		-webkit-transition: opacity 3s ease-in;
		   -moz-transition: opacity 3s ease-in;
			-ms-transition: opacity 3s ease-in;
			 -o-transition: opacity 3s ease-in;
				transition: opacity 3s ease-in;	
	/* 		-webkit-transition-property:opacity;
		-webkit-transition-duration:3s;
		-webkit-transition-timing-function:ease-in; */
	}	
	html.ie7 .b-illustration__link{
		width:200px;
	    height:129px;
		padding-top: 50px;
		background:transparent;	
	}
	html.ie8 .b-illustration__link{
		background:transparent;	
	}
	html.ie7 .b-illustration__link-shadow,
	html.ie8 .b-illustration__link-shadow{
		content:'\0020';
		display:block;
		position:absolute;
		top:0;
		right:0;
		z-index:2;
		width:330px;
	    height:179px;
		background:url(b-illustration__link.png) 100% 0 repeat-y;
	}
	.b-illustration__link_type_yandex{
		opacity:1;
	    filter: alpha(opacity=100);
	}
		.b-illustration__logo{
			vertical-align:middle;
		}

